<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
<ol>
    <li>java</li>
    <li>python</li>
    <li>R</li>
    <li>php</li>
    </ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
    <li>ggplot</li>
    <li>gally</li>
    <li>pandas</li>
    <li>numpy</li>
    </ol>

<table>
  <tr>
    <th>Data Science Tools</th>
    </tr>
     <tr>
    <td>jupyter lab</td>
     </tr>
     <tr>
        <td>Rstudio</td>
     </tr>
     <tr>
    <td>Apache Zeppelin</td>
    </tr>
    </table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [1]:
(3*4)+5
 # This a simple arithmetic expression to mutiply then add integers

17

In [2]:
200//60
# This will convert 200 minutes to hours by diving by 60

3

<b>Objectives:</b>
<ul>
    <li>python</li>
    <li>julia</li>
    <li>c++</li>
    <li>sql</li>
    <li>scala</li>
    </ul>

<h2>Author</h2>
ganesh